services:
  mcp:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: mcp
    restart: unless-stopped
    ports:
      - "9000:9000"
    env_file:
      - ./.env
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis/redis-stack-server:latest
    container_name: redis
    restart: unless-stopped
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 3s
      retries: 15
      start_period: 5s

volumes:
  redis_data:
    driver: local